.seasons {
  width: 100%;
  height: auto;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  border: 1px solid lightslategray;
}

table {
  width: 600px;
  font-style: italic;
  transition: 0.3s all ease-in-out;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-header-cell {
  text-align: center;
  font-weight: bold;
  font-size: 1rem;
}

td,
th {
  cursor: pointer;
}
