<div class="container">
  <div class="steps">
    <table>
      <thead>
        <tr>
          <th colspan="3">
            <a href="">Clique aqui e veja o resultado da Temporada Atual</a>
          </th>
        </tr>
        <tr>
          <th>Etapa</th>
          <th>Data e Hora (GMT -3)</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let race of raceWeekends">
          <td colspan="3">
            <a routerLink="">
              {{ race.Circuit.Location.country }} - {{ race.raceName }} |
              {{ race.date | date: "dd/MM/yyyy" }}
              {{ race.time }}
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="um">
    <router-outlet></router-outlet>
  </div>
</div>
