<div class="standings">
  <label>
    Mostrando resultados de:
    <select #resultType name="resultType" (change)="getResultType()">
      <option value="drivers" selected>Pilotos</option>
      <option value="constructors">Equipes</option>
    </select>
  </label>
  <div class="standings-drivers" *ngIf="resultTableSeasonType == 'drivers'">
    <table>
      <thead>
        <tr>
          <th colspan="8">Classificação Geral de Pilotos - Etapa</th>
        </tr>
        <tr>
          <th>Pos.</th>
          <th>Nº Piloto</th>
          <th>Cód.</th>
          <th>Piloto</th>
          <th>País</th>
          <th>Equipe</th>
          <th>Vitórias</th>
          <th>Pontos</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let driver of driversStandings">
          <td>{{ driver.position }}º</td>
          <td>{{ driver.Driver.permanentNumber }}</td>
          <td>{{ driver.Driver.code }}</td>
          <td>{{ driver.Driver.givenName }} {{ driver.Driver.familyName }}</td>
          <td>{{ driver.Driver.nationality }}</td>
          <td>{{ driver.Constructors[0].name }}</td>
          <td>{{ driver.wins }}</td>
          <td>{{ driver.points }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div
    class="standings-constructors"
    *ngIf="resultTableSeasonType == 'constructors'"
  >
    <table>
      <thead>
        <tr>
          <th colspan="8">Classificação Geral de Construtores - Etapa</th>
        </tr>
        <tr></tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>
</div>
