.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 280px 1fr;
  grid-template-rows: 70px 1fr 70px;
  grid-template-areas:
    "header header"
    "main main"
    "footer footer";
}

.container:has(> .header .navbar-icon #navbar-checkbox:checked) {
  grid-template-areas:
    "nav header"
    "nav main"
    "footer footer";
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: header;
  font-weight: bold;
  font-style: italic;
  transition: 0.3s all ease-in-out;
}

.header h1 {
  background: inherit;
  color: inherit;
}

.header h1 a {
  background: inherit;
  color: inherit;
}

#navbar-checkbox {
  display: none;
}
.navbar-icon {
  position: absolute;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.navbar-label {
  margin: 10px 0 10px 20px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  position: relative;
  cursor: pointer;
}

.navbar-checkbox_line {
  width: 40px;
  height: 8px;
  position: absolute;
  border-radius: 4px;
  transition: 0.3s all ease-in-out;
}

.navbar-checkbox_line:nth-child(1) {
  top: 6.5px;
}
.navbar-checkbox_line:nth-child(2) {
  top: 21px;
}
.navbar-checkbox_line:nth-child(3) {
  top: 35.5px;
}

#navbar-checkbox:checked + .navbar-label .navbar-checkbox_line:nth-child(1) {
  top: 20px;
  transform: rotate(45deg);
}

#navbar-checkbox:checked + .navbar-label .navbar-checkbox_line:nth-child(2) {
  transform: translateY(-40px);
  visibility: hidden;
  opacity: 0;
}

#navbar-checkbox:checked + .navbar-label .navbar-checkbox_line:nth-child(3) {
  top: 20px;
  transform: rotate(-45deg);
}

.theme {
  position: absolute;
  right: 30px;
}

.theme select {
  border-radius: 8px;
  border: none;
  box-shadow: none;
  outline: none;
}

.menu-navbar {
  grid-area: nav;
  position: relative;
  transition: 0.3s all ease-in-out;
}

.menu-navbar ul {
  position: absolute;
  width: 100%;
  top: 70px;
}

.menu-navbar ul li {
  display: block;
  margin: 0 0 3px 5px;
  cursor: pointer;
}

.main {
  grid-area: main;
  display: flex;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: footer;
  transition: 0.3s all ease-in-out;
}

.footer h4 {
  background: inherit;
  color: inherit;
}

a {
  text-decoration: none;
  display: block;
  font-weight: bold;
}

li a {
  transition: 0.2s all ease-in-out;
}

/*-----------Tema Default----------------*/
.default {
  background: #e10600;
  color: #ffffff;
}
.default .navbar-icon .navbar-label .navbar-checkbox_line {
  background: #ffffff;
}
nav.default {
  background-color: #15151e;
  color: #ffffff;
}
nav.default ul li a {
  color: #ffffff;
}
nav.default ul li a:hover,
nav.default ul li a:focus {
  background: #ff0000;
  color: #ffffff;
}

main.default {
  background-color: #e8e8e8;
  color: #000;
}
/*-----------Tema Mercedes----------------*/
.mercedes {
  background: #000000;
  color: #0ca597;
}

.mercedes .navbar-icon .navbar-label .navbar-checkbox_line {
  background: #0ca597;
}

nav.mercedes {
  background-color: #141414;
  color: #fff;
}

nav.mercedes ul li a {
  color: #fff;
}
nav.mercedes ul li a:hover,
nav.mercedes ul li a:focus {
  color: #0ca597;
  background: #000;
}
main.mercedes {
  background-color: #d3d3d3;
  color: #000;
}

/*-----------Tema Red Bull----------------*/
.redbull {
  background: #001a30;
  color: #fcd700;
}

.redbull .navbar-icon .navbar-label .navbar-checkbox_line {
  background: #fcd700;
}

nav.redbull {
  background-color: #072c4d;
  color: #fff;
}

nav.redbull ul li a {
  color: #fff;
}
nav.redbull ul li a:hover,
nav.redbull ul li a:focus {
  color: #ff0000;
  background: #fcd700;
}
main.redbull {
  background-color: #e8e8e8;
  color: #001a30;
}

/*-----------Tema Ferrari----------------*/
.ferrari {
  background: #da291c;
  color: #fcd112;
}

.ferrari .navbar-icon .navbar-label .navbar-checkbox_line {
  background: #fcd112;
}

nav.ferrari {
  background-color: #474747;
  color: #fff;
}

nav.ferrari ul li a {
  color: #fcd700;
}
nav.ferrari ul li a:hover,
nav.ferrari ul li a:focus {
  color: #ff0000;
  background: #fcd700;
}
main.ferrari {
  background-color: #e8e8e8;
  color: #000000;
}

/*-----------Tema McLaren----------------*/
.mclaren {
  background: #ff8000;
  color: #000;
}
.mclaren .navbar-icon .navbar-label .navbar-checkbox_line {
  background: #000;
}

nav.mclaren {
  background-color: #929292;
  color: #fff;
}

nav.mclaren ul li a {
  color: #000;
}
nav.mclaren ul li a:hover,
nav.mclaren ul li a:focus {
  background: #ff8000;
}
main.mclaren {
  background-color: #e8e8e8;
  color: #000000;
}

/*-----------Tema Alfa Romeo----------------*/
.alfaromeo {
  background: #a51d2f;
  color: #fff;
}

.alfaromeo .navbar-icon .navbar-label .navbar-checkbox_line {
  background: #fff;
}

nav.alfaromeo {
  background-color: #2d2d2d;
  color: #fff;
}

nav.alfaromeo ul li a {
  color: #fff;
}
nav.alfaromeo ul li a:hover,
nav.alfaromeo ul li a:focus {
  background: #006221;
}
main.alfaromeo {
  background-color: #e8e8e8;
  color: #000000;
}

/*-----------Tema Alpha Tauri----------------*/
.alphatauri {
  background: #011321;
  color: #fff;
}
.alphatauri .navbar-icon .navbar-label .navbar-checkbox_line {
  background: #fff;
}

nav.alphatauri {
  background-color: #003e6e;
  color: #fff;
}

nav.alphatauri ul li a {
  color: #fff;
}
nav.alphatauri ul li a:hover,
nav.alphatauri ul li a:focus {
  background: #ffffff;
  color: #011321;
}
main.alphatauri {
  background-color: #e8e8e8;
  color: #000000;
}

/*-----------Tema Williams----------------*/
.williams {
  background: #041e42;
  color: #fff;
}
.williams .navbar-icon .navbar-label .navbar-checkbox_line {
  background: #fff;
}

nav.williams {
  background-color: #00a3e0;
  color: #fff;
}

nav.williams ul li a {
  color: #fff;
}
nav.williams ul li a:hover,
nav.williams ul li a:focus {
  background: #041e42;
  color: #ffffff;
}
main.williams {
  background-color: #e8e8e8;
  color: #000000;
}

/*-----------Tema Aston Martin----------------*/
.astonmartin {
  background: #00594f;
  color: #cedc00;
}

.astonmartin .navbar-icon .navbar-label .navbar-checkbox_line {
  background: #cedc00;
}

nav.astonmartin {
  background-color: #00352f;
  color: #fff;
}

nav.astonmartin ul li a {
  color: #fff;
}
nav.astonmartin ul li a:hover,
nav.astonmartin ul li a:focus {
  background: #cedc00;
  color: #00352f;
}
main.astonmartin {
  background-color: #e8e8e8;
  color: #000000;
}

/*-----------Tema Alpine----------------*/
.alpine {
  background: #0c1d2c;
  color: #e65f9a;
}
.alpine .navbar-icon .navbar-label .navbar-checkbox_line {
  background: #ffffff;
}

nav.alpine {
  background-color: #e65f9a;
  color: #fff;
}

nav.alpine ul li a {
  color: #fff;
}
nav.alpine ul li a:hover,
nav.alpine ul li a:focus {
  background: #0c1d2c;
  color: #ffffff;
}
main.alpine {
  background-color: #e8e8e8;
  color: #000000;
}

/*-----------Tema Haas----------------*/
.haas {
  background: #fff;
  color: #e6002d;
}

.haas .navbar-icon .navbar-label .navbar-checkbox_line {
  background: #e6002d;
}

nav.haas {
  background-color: #0032a0;
  color: #fff;
}

nav.haas ul li a {
  color: #fff;
}
nav.haas ul li a:hover,
nav.haas ul li a:focus {
  background: #fff;
  color: #0032a0;
}
main.haas {
  background-color: #e8e8e8;
  color: #000000;
}
