<div class="container" #container>
  <header class="header">
    <div class="navbar-icon">
      <input #checkbox type="checkbox" name="menu" id="navbar-checkbox" />
      <label
        class="navbar-label"
        for="navbar-checkbox"
        (click)="openedMenu(container, navbar)"
      >
        <div class="navbar-checkbox_line"></div>
        <div class="navbar-checkbox_line"></div>
        <div class="navbar-checkbox_line"></div>
      </label>
    </div>
    <a routerLink="">
      <h1>Formula 1</h1>
    </a>
    <div class="theme">
      <select
        #themeList
        name="theme-list"
        id="theme-list"
        (change)="themeSelected(themeList.value)"
      >
        <option value="" class="theme-list_item">Selecione o tema</option>
        <option value="mercedes" class="theme-list_item">Mercedes</option>
        <option value="redbull" class="theme-list_item">Red Bull</option>
        <option value="mclaren" class="theme-list_item">McLaren</option>
      </select>
    </div>
  </header>
  <nav class="menu-navbar" #navbar>
    <ul>
      <li><a routerLink="">Página Principal</a></li>
      <li><a routerLink="/seasons">Temporadas</a></li>
      <li>Circuitos</li>
      <li>Equipes</li>
      <li>Pilotos</li>
    </ul>
  </nav>
  <main class="main">
    <router-outlet></router-outlet>
  </main>
  <footer class="footer">
    <h4>&copy;André Cruz, 2022. Todos os direitos reservados.</h4>
  </footer>
</div>
